<body>
<p>Ce paquetage permet la sauvegarde/restauration d'objets JAVA sous des fichiers au format XML.</p>

<p>Ce package est remplac&eacute; avantageusement le package de s&eacute;rialisation org.fudaa.dodico.boony contenu dans dodico</p>
</body>
