yapod {
  color:               #000000;
  background:          #FFFFFF;
  font-family:         "verdana", "helvetica", "sans-serif", "arial";
  font-size:           10pt;
  font-weight:         normal;
  padding:             10pt;
}
object:before {
  content:             "object " attr(ID) "  (" attr(TYPE) ")";
  font-size:           12pt;
}
object {
  display:             block;
  background:          #DDDDDD;
  margin:              1pt;
  padding:             1pt;
}
field:before {
  content:             "field " attr(NAME);
}
field {
  display:             block;
  background:          #FFFFFF;
  font-variant:        italic;
  margin:              1pt;
  padding:             1pt;
}
null:before {
  content:             "<null>";
  color:               #006600;
}
null {
  display:             block;
  background:          #FFFFFF;
}
array:before {
  content:            "array  (" attr(LENGTH) ")";
}
array {
  display:             block;
  background:          #CCCCFF;
  margin:              1pt;
  padding:             1pt;
}
single {
  display:             block;
  background:          #FFFFFF;
  color:               #006600;
}
single:after {
  content:             "  (" attr(TYPE) ")";
  font-size:           8pt;
  color:               #888888;
}
reference:before {
  content:             "<ref " attr(IDREF) ">";
  color:               #880000;
}
reference {
  display:             block;
  background:          #FFFFFF;
}
