<body>
<i>Package applicatif :</i> Ce package contient l'application Fudaa_Mox.<p>
Cette application graphique permet d'analyser les fichiers CAS associ&eacute;s aux fichiers dictionnaires
pour Telemac, Mascaret du LNHE.

En particulier, elle permet :<br>
<ul>
 <li>De controler la syntaxe du dictionnaire et de connaitre la structure autoris&eacute;e pour chaque mot cl&eacute;.</li>
 <li>De lire le fichier CAS, de verifier les mots cl&eacute;s inconnus du dictionnaire, ceux donc les valeurs sont
 invalides en genre, en nombre, ou qui sortent des limites autoris&eacute;es.</li>
</ul>

=> Equivalent a edamox.
</body>